<!-- <form action="/cart/add" method="post" id="add-to-cart"> -->

	{% assign current_variant = variant.selected %}


	{% if product.variants.size == 1 %}
		<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
	{% else %}
		<select name="id">
			{% for variant in product.variants %}
			 {% if variant.available %}
				<option value="{{ variant.id }}">{{ variant.title }}</option>
			 {% endif %}
			 }
			}
			{% endfor %}
		</select>
	{% endif %}

	<div>
		<input type="submit" name="add" id="ajax-fire" value="To Cart" class="for-loop-index-{{ forloop.index }} {{ product.id }} enable-cart-btns" data-url="{{ product.url }}">
			
		</input>
	</div>  

<!-- </form> -->

