<!-- <form action="/cart/add" method="post"> -->



	{% if product.variants.size == 1 %}
		<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
	{% else %}
		<select name="id">
			{% for variant in product.variants %}
				<option value="{{ variant.id }}">{{ variant.title }}</option>
			{% endfor %}
		</select>
	{% endif %}

	<div>
		<input type="submit" name="add" id="ajax-fire" value="To Cart" class="for-loop-index-{{ forloop.index }} {{ product.id }} enable-cart-btns" onclick="addItem('add-to-cart'); return false;"></input>
	</div>  
<!-- </form> -->

